@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <a class="btn btn-primary"asp-controller="UserPost" asp-action="Upload">Start Exploring</a>
    <p></p>
     <img src="https://th.bing.com/th/id/OIG.tOTRf9V4iYBFAqhSrUCs?pid=ImgGn" width="400" 
     height="400"/>
    
    
   

</div>
